<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DEMO APP BASIC</title>

    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/fancy-checkbox-radio.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="padding-top:5px;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Dashboard/Index" class="navbar-brand"><i class="fa fa-connectdevelop fa-lg" style="padding-right:10px;color:#fff" aria-hidden="true"></i>DEMO APPLICATION</a>
            </div>

            @Html.Partial("_LoginPartial")

        </div>
    </nav>

    <div class="container">

        @RenderBody()

        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year - DEMO APPLICATION</p>
        </footer>
    </div>

    <script src="~/scripts/jquery-2.2.3.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

</body>
</html>
