@using DEMO.APP.BASIC.App_Start

<script type="text/javascript" src="~/scripts/angular.min.js"></script>
<script type="text/javascript" src="~/scripts/angular-ui-router.min.js"></script>
<script type="text/javascript" src="~/Modules/Account/angular/Account.module.js"></script>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var token = @AntiForgeryExtension.RequestVerificationToken(null);
}


@*<form id="registration" @AntiForgeryExtension.RequestVerificationToken(null)>
</form>*@

@*<form id="antiForgeryForm">
    @Html.AntiForgeryToken()
</form>

var myApp = angular.module('myApp', []);

myApp.config(['$httpProvider', function ($httpProvider) {
    var antiForgeryToken = document.getElementById('antiForgeryForm').childNodes[1].value;
    $httpProvider.defaults.headers.post['__RequestVerificationToken'] = antiForgeryToken;
}]);*@

<div style="height:50px;"></div>

<div class="row">

    <div class="col-md-7">
        <img class="img-responsive" src="http://il6.picdn.net/shutterstock/videos/13346843/thumb/1.jpg" style="border-right:1px solid rgba(91, 192, 222, 0.43);width:630px;" />
    </div>

    <div ng-app="accountApp" class="col-md-4">

        <div ui-view></div>

    </div>

    <div class="col-md-1"></div>

</div>
