
<form action="~/Account/Register" method="post" class="form-horizontal" style="padding:20px 20px 10px 20px;border: 1px solid rgba(91, 192, 222, 0.43);border-radius:3px;">

    <div class="form-group" style="margin-left:0px;margin-right:0px;">
        <div class="pull-right" style="font-size:13px;padding-top:1px;">or <a ui-sref="signin">Sign in</a></div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">

            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <input type="email" class="form-control" id="inputEmail3" placeholder="First name">
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">

            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <input type="email" class="form-control" id="inputEmail3" placeholder="Last name">
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">

            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">

            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></div>
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <div class="checkbox checkbox-info">
                <input id="checkbox2" class="styled" type="checkbox">
                <label for="checkbox2" style="font-size:13px">
                    I agree to DEMO.APP
                </label>
                <button type="submit" class="btn btn-sm btn-info pull-right">
                    <span class="glyphicon glyphicon-user" style="right:3px;" aria-hidden="true"></span>
                    Create an account
                </button>
            </div>
        </div>
    </div>

</form>